@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model IEnumerable<AlisverisSitesi.Models.ContactUs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="rr">
    <table class="aaa table">
        <tr class="ontainer aas">
            <th>
                    @Localizer["Ad Soyad"]
            </th>
           
            <th>
                    @Localizer["Mail"]
                </th>
            <th></th>
            <th>
                    @Localizer["Konu"]
                </th>

            <th>
                    @Localizer["mesaj"]
                </th>
           
        </tr>
@foreach (var item in Model) {
            <tr class="ontainer aas">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td></td>
          
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)

            </td>
        </tr>
}
</table>
</div>
