@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model CartViewModel

@{
    ViewData["Title"] = "Cart Overview";
}

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <tr>
            <th>@Localizer["Urun"]</th>
            <th>@Localizer["Miktar"]</th>
            <th></th>
            <th>@Localizer["Fiyat"]</th>
            <th>@Localizer["Toplam"]</th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.UrunName</td>
                <td>@item.Quantity</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.UrunId">+</a>
                    <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.UrunId">-</a>
                    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.UrunId">@Localizer["Kaldır"]</a>
                </td>
                <td>@item.Price.ToString("C2")</td>
                <td>@Model.CartItems.Where(x => x.UrunId == item.UrunId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
            </tr>
        }
        <tr>
            <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
        </tr>
        <tr>
            <td class="text-right" colspan="4">
                <a class="btn btn-danger" asp-action="Clear">@Localizer["Sepeti Temizle"]</a>
                <a class="btn btn-primary" asp-action="Checkout">@Localizer["Onayla"]</a>
            </td>
        </tr>
    </table>


}
else
{
    <h3 class="display-4 text-center">@Localizer["Sepetiniz boş"]</h3>
}
