@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model IEnumerable<Urun>

@{
    ViewData["Title"] = "Urunlar";
}



    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4" >
                <img src="/media/Urunlar/@item.Image" class="img-fluid" alt="" />
                <div>
                    <h4>@item.Name</h4>
                    @Html.Raw(item.Description)
                </div>
                <p>
                    @item.Price.ToString("C2")
                </p>
                <p>
                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">@Localizer["Sepete ekle"]</a>
                </p>
            </div>

        }


        @if (ViewBag.TotalPages > 1)
        {
            <div class="d-flex w-100 justify-content-center">
                <pagination page-count="@ViewBag.TotalPages"
                        page-target="/Uruns/@ViewBag.CategorySlug"
                        page-number="@ViewBag.PageNumber"
                        page-range="@ViewBag.PageRange">
                </pagination>
            </div>
        }


