@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@model IEnumerable<Urun>

@{
    ViewData["Title"] = "Urunlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Urunlar</h1>

<p>
    <a asp-action="Create">
        @Localizer["Oluştur"]
                           
      
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> @Localizer["Ad"]</th>
            <th> @Localizer["Fiyat"]</th>
            <th> @Localizer["Kategori"]</th>
            <th> @Localizer["resim"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    <img src="/media/Urunlar/@item.Image" width="100" alt="" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Düzenle"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="confirmDeletion">@Localizer["Sil"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages"
                page-target="/Admin/Uruns/@ViewBag.CategorySlug"
                page-number="@ViewBag.PageNumber"
                page-range="@ViewBag.PageRange">
    </pagination>
</div>