

@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
<div class="container IndexDiv">
<div class="row">
    <div class="col-3 container CenteredContainer text-center">
        <section>
            <form id="account" method="post">
                    <h5>@Localizer["HOŞ GELDİNİZ"]</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="@Localizer["Mail Adresi"]" />
                </div>

                <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="@Localizer["Şifre"] " />
                </div>
               
                <div>

                        <input id="login-submit" type="submit" class=" btn btn-danger text-white" value="@Localizer["giriş yap"]"></input>
                </div>
                <div>
                    <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["şifreniz unutunuz mu??"]</a>
                    </p>
                   
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>